h1 {
    border-color: #478384;
    border-style: solid;
    border-width: 0 0 2px 8px;
    padding-left: 3px;
}

h2 {
    border-color: #478384;
    border-style: solid;
    border-width: 0 0 0 5px;
    padding-left: 3px;
}

img {
    max-width: 100%;
}

table:not(.sourceCode) {
    border: 1pt solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    border: 1pt solid #ddd;
    padding: 8px;
    border-bottom-width: 2px;
}

td:not(.sourceCode):not(.lineNumbers) {
    border: 1pt solid #ddd;
    padding: 8px;
}

blockquote {
    border-left: 3px solid #bbb;
    padding-left: 0.5em;
}

.figure {
    text-align: center;
    margin-top: 1em;
}
